<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTMX Index</title>
        <script lang="javascript" src="/static/js/htmx.min.js"></script>
    </head>
    <body>
        <h1>HTMX Index</h1>
        <p>Content</p>
    </body>
</html>
