<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HTMX Comments</title>
        <script src="/static/js/htmx.min.js"></script>
        <script type="module">
            await navigator.serviceWorker.register("sw.js");
        </script>
    </head>
    <body>
        <h1>HTMX Comments</h1>
        <div id="comments" hx-get="/comments" hx-trigger="load">
        </div>
        <form hx-post="/comments" hx-trigger="submit" hx-target="#comments">
            <input type="text" name="comment" placeholder="Comment">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
